.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tudo {
  background: #3a82f7;
}
.cabecalho {
  background: #3a82f7;
  padding: 1rem;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: none;
  color: white;
  background-color: #4d9ffd;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
  margin-right: 1.5rem;
}
.link:first-of-type {
  margin-left: 0; 
}
.logoInicio {
  width: 5%;
  margin-left: 1%;
}
.link:hover {
  background-color: rgb(28, 90, 134);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 25%;
  height: auto;
  padding: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
}

.input {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.input-with-icon {
  position: relative;
}

.input-with-icon .icon {
  position: absolute;
  top: 63%;
  left: 10px;
  transform: translateY(-50%);
  color: #ccc;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.input-with-icon input {
  width: calc(100% - 40px); /* Ajustar a largura para considerar o ícone */
  padding: 12px 10px 12px 40px; /* Ajustar o padding */
  background-color: transparent;
  border: 2px solid rgba(225, 225, 225, 0.2);
  font-size: 1.2rem;
}

.input label {
  color: aliceblue;
  font-size: 1.1rem;
}

.Titulo {
  text-align: center;
  color: aliceblue;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.input button {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin-top: 10px;
  background-color: rgb(188, 220, 248);
  cursor: pointer;
  margin-left: 10%;
  font-size: 1.2rem;
}

.input button:hover {
  background-color: rgb(8, 104, 189);
}
