body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(9,9,121,1) 44%, rgba(5,107,186,1) 73%, rgba(0,212,255,1) 100%);
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.input {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100px;
}

.logo.react {
  margin-left: 1rem;
}
.Titulo{
  text-align: center;
}
